<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% extends "base.html" %}
{% load static %}
{% block title %}
            QAZIRIB | صفحه اصلی
{% endblock %}
{% block css_files %}
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">

{% endblock %}


{% block content %}
      <section class="container forms">
       <div class="form login">
           <div class="form-content">
               <header>تغییر کلمه عبور</header>

               <form method="post" >
                   {% csrf_token %}
                   <div class="field input-field">
                       <input type="password" name="old_password" placeholder="کلمه عبور پیشین" class="input">
                   </div>

                   <div class="field input-field">
                       <input type="password" name="new_password1" placeholder=" کلمه عبور جدید" class="password">
                   </div>

                   <div class="field input-field">
                       <input type="password" name="new_password2" placeholder="تکرار کلمه عبور جدید" class="password">
                   </div>

                     {% if form.errors %}
                        <h1>ErOOR</h1>
                        {% for field in form %}
                            {% for error in field.errors %}
                            <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                                <p>{{ error|escape}}</p>
                            </div>
                            {% endfor %}
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                        <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                            <p>{{ error|escape}}</p>
                        </div>
                        {% endfor %}
                    {% endif %}

                   <div class="field button-field">
                       <button>ذخیره</button>
                   </div>

               </form>


           </div>

       </div>
            <div class="spacing">
                <ul>
                    <li style="color:white;">رمز عبور باید حداقل شامل حداقل ۸ کاراکتر باشد.</li>
                    <br>
                    <li style="color:white;">رمز عبور باید شامل اعداد، حروف بزرگ و کوچک باشد.</li>
                </ul>
            </div>
   </section>


{% endblock content %}
