<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% extends "base.html" %}
{% load static %}
{% block title %}
            QAZIRIB | صفحه اصلی
{% endblock %}
{% block css_files %}
            <link rel="stylesheet" href="{% static 'css/home.css' %}">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
{% endblock %}


{% block content %}


<h2 style="color: white; margin-right: 3%; margin-top: 15%;">جهت دریافت فایل:</h2>
<div style="display:inline-flex; margin:auto">
<h3 style="color: white;"> فرمت تاریخ را بصورت xxxx-xx-xx در فیلد جستجو وارد نمایید. </h3>
    <h3 style="color: #00FF00;"> نمونه: 21-01-1402 </h3>
</div>

<div style="display:inline-flex; margin:auto; margin-bottom: 25%">
<h3 style="color: white;"> کلیدواژه موردنظر را در فیلد جستجو وارد نمایید. </h3>
    <h3 style="color: #00FF00;"> نمونه: فناوری اطلاعات  </h3>
</div>

{% endblock content %}
