<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% extends "root-base.html" %}
{% load static %}
{% block title %}
            QAZIRIB | صفحه اصلی
{% endblock %}
{% block css_files %}
            <link rel="stylesheet" href="{% static 'css/login.css' %}">
            <link rel="stylesheet" href="{% static 'css/root-base.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
{% endblock %}


{% block content %}
    <section class="container forms">
       <div class="form login">
           <div class="form-content">
               <header>ورود</header>

               <form method="post" >
                   {% csrf_token %}
                   <div class="field input-field">
                       <input type="text" name="username" placeholder="نام کاربری" class="input">
                   </div>

                   <div class="field input-field">
                       <input type="password" name="password" placeholder="کلمه عبور" class="password">
                   </div>

                     {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                            <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                                <p>{{ error|escape}}</p>
                            </div>
                            {% endfor %}
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                        <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                            <p>{{ error|escape}}</p>
                        </div>
                        {% endfor %}
                    {% endif %}

                   <div class="field button-field">
                       <button>ورود</button>
                   </div>


               </form>

           </div>

       </div>
   </section>
{% endblock content %}
