<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% extends "base.html" %}
{% load static %}
{% block title %}
            QAZIRIB | صفحه اصلی
{% endblock %}
{% block css_files %}
            <link rel="stylesheet" href="{% static 'css/home.css' %}">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
{% endblock %}


{% block content %}
    <div class="incoming">
        <h2>
               تغییر کلمه عبور با موفقیت انجام شد
        </h2>
    </div>
{% endblock content %}
